<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{#str}}diagnosticsreport,tool_aiutils{{/str}}</h1>
        </div>
        <div class="card-body">
            <form action="" method="get" class="mb-3">
                <input type="hidden" name="download" value="1">
                <button type="submit" class="btn btn-primary">{{#str}}download_diagnostics,tool_aiutils{{/str}}</button>
            </form>
            <hr>
            <div class="bg-light p-3 rounded">{{{diagnostics}}}</div>
        </div>
    </div>
</div>